.loading-screen {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background-color: $background;
  font-size: 24px;
  &-img {
    padding-top: 22.5rem;
    width: 18rem;
    animation: fadeInEffect 2s ease-in-out infinite;
  }
}

@keyframes fadeInEffect {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
